:root {
    /* Border-radius */
    --radius-right-side: 0px 12px 12px 0px;
    --radius-left-side: 12px 0px 0px 12px;
    /* Transition */
    --transition-fast-smooth: .3s ease;
}
.modal__bg {
    z-index: 10;
    transition: var(--transition-fast-smooth);
    opacity: 0;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    backdrop-filter: blur(4px);
}
.modal {
    z-index: 12;
    text-align: center;
    transition: var(--transition-fast-smooth);
    position: fixed;
    top: 0;
    min-width: 30%;
    max-width: 40%;
    background-color: white;
    padding: 20px;
}
.modal h4 {
    font-size: 24px;
    font-weight: 700;
}
.friends__modal-canvas {
    left: -100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    border-radius: var(--radius-right-side);
}
.friends__modal {
    width: 100%;
    align-items: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
}
.friends__modal img {
    object-fit: cover;
    object-position: center top;
    height: 300px;
    border-radius: 12px;
    min-width: 30%;
    max-width: 100%;
    width: 100%;
}
.profile__modal {
    right: -100%;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-left-side);
    gap: 20px;
}
.profile__modal img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 14px;
}
.profile__modal .profile__modal-about__user {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 8px;
    width: 60%;
}
.about__user-links {
    display: flex;
    gap: 10px;
}
.adder__panel {
    width: 100%;
}
.friend__adder__modal {
    transition: var(--transition-fast-smooth);
    display: none;
    transform: translateX(-120%);
    padding: 15px 20px;
    flex-direction: column;
    gap: 20px;
    max-width: 40%;
    min-width: 20%;
    width: 30%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 14px;
    /* transform: translateX(-100%); */
}
.friend__adder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.friend-photo input {
    opacity: 0;
    display: none;
}
.friend-photo {
    border: none;
    background-color: white;
    padding: 12px 20px;
    border-radius: var(--border-radius);
    font-weight: 700;
    box-shadow: inset 2px 2px 10px rgb(134, 134, 134),
    inset -2px -2px 10px rgb(173, 173, 173);
}
.friend_info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 4px;
    font-weight: 700;
    font-size: 16px;
}
.friend_info input {
    width: 60%;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid rgb(77, 76, 76);
    padding: 15px 20px 15px 10px;
    border-radius: 14px;
}
.profile__panel {
    display: flex;
    width: 100%;
}
.profile__editor-modal {
    float: right;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 40%;
    min-width: 20%;
    width: 30%;
    transition: var(--transition-fast-smooth);
    display: none;
    transform: translateX(120%);
    padding: 15px 20px;
    
    gap: 20px;
    max-width: 40%;
    min-width: 20%;
    width: 30%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 14px;
}
.profile__editor {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}
.profile__param {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6px;
}
.profile__param input {
    width: 60%;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid rgb(77, 76, 76);
    padding: 15px 20px 15px 10px;
    border-radius: 14px;
}
.profile__editor-avatar input {
    display: none;
}
.profile__editor-avatar label {
    border: none;
    background-color: white;
    padding: 12px 20px;
    border-radius: var(--border-radius);
    font-weight: 700;
    box-shadow: inset 2px 2px 10px rgb(134, 134, 134),
    inset -2px -2px 10px rgb(173, 173, 173);
}