/* ________________________Root settings_______________________________ */
@font-face {
    font-family: Comfortaa;
    src: url('../assets/fonts/Comfortaa-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Comfortaa;
    src: url('../assets/fonts/Comfortaa-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Comfortaa;
    src: url('../assets/fonts/Comfortaa-Bold.ttf');
    font-weight: 700;
}
:root {
    /* Container */
    --container-width: 90%;
    /* Transition(s) */
    --transition-fast-smooth: .3s ease;
    /* Border */
    --border-radius: 12px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comfortaa;
}
a, button {
    cursor: pointer;
    text-decoration: none;
}
input {
    outline: none;
}
button {
    border: none;
    background-color: white;
    padding: 12px 20px;
    border-radius: var(--border-radius);
    font-weight: 700;
    box-shadow: inset 2px 2px 10px rgb(134, 134, 134),
    inset -2px -2px 10px rgb(173, 173, 173);
}
.container {
    padding: 20px 0;
    margin: 0 auto;
    width: var(--container-width);
}
/* __________________________________Header_________________________________ */
header {
    width: 100%;
    background-color: black;
}
.header__container {
    color: white;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__container-profile button {
    display: flex;
    align-items: center;
    gap: 6px;
}
.header__container-profile button img {
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 100%;
}
.header__container-logo {
    font-size: 24px;
}
.header__container-friends button {
    display: flex;
    align-items: center;
    gap: 6px;
}
.header__container-friends button img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    object-fit: cover;
}
/* _________________________Main_____________________________ */
main {
    width: 100vw;
}
.main__screen-one {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.screen__one-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
    padding-bottom: 20px;
}
.screen__one-content {
    overflow: hidden;
}